# -*- mode:yaml -*-

adagios:
  # overrides settings pynag expects to read out of the cfg file
  pynag_overrides:
    object_cache_file: /var/run/shinken/arbiterd.pid
    log_file: /var/log/shinken/shinken.log
    log_archive_path: /var/log/shinken/archives/
    path_to_command_file: /var/lib/shinken/nagios.cmd

  # settings for the running the django app
  web:
    user: nagios
    group: nagios
    bind: 0.0.0.0:8000
    logdir: /var/log/adagios-web

  # replaces values in adagios.conf, arbitrary key/values
  config:
    nagios_config: /etc/shinken/shinken.cfg
    destination_directory: /etc/shinken/adagios
    enable_pnp4nagios: False
    enable_graphite: True
    graphite_url: http://graphite.lxc
  lookup:
    packages: ['python-pip', 'python-dev']
