# -*- mode:yaml -*-

adagios:

  # settings for the running the django app
  web:
    user: nagios
    group: nagios
    bind: 0.0.0.0:8000
    logdir: /var/log/adagios-web

  # replaces values in adagios.conf, arbitrary key/values
  config:
    nagios_config: /etc/shinken/shinken.cfg
    livestatus_path: /var/lib/shinken/live
    nagios_init_script: sudo /etc/init.d/shinken-arbiter
    nagios_binary: /usr/bin/shinken
    destination_directory: /etc/shinken/adagios
    enable_pnp4nagios: False
    enable_graphite: True
    graphite_url: http://graphite.lxc
  lookup:
    packages: ['python-pip', 'python-dev']
