# -*- mode:conf -*-
## adagios website
# THIS FILE IS MANAGED BY SALT
description "adagios"
author "Ryan Davis <ryan@acceleration.net>"

start on runlevel [2345]
stop on runlevel [016]

respawn

pre-start script
  # make sure the PID folder exists
  mkdir -p /var/run/adagios
  chown www-data:{{ group }} /var/run/adagios
end script

exec uwsgi --ini /etc/adagios/uwsgi.ini
