{% set adagios = salt['grains.filter_by']({
    'Debian': {
      'packages': ['python-pip', 'python-dev']
    },
}, merge=salt['pillar.get']('adagios:lookup')) %}

{% set config = salt['pillar.get']('adagios:config', {
   'nagios_config': '/etc/nagios/nagios.cfg',
   'destination_directory': '/etc/nagios/adagios'
  }, True) %}

{% set web = salt['pillar.get']('adagios:web', {
   'user': 'nagios',
   'group': 'nagios',
   'bind': '0.0.0.0:8000',
   'logdir': '/var/log/adagios-web'
  }, True) %}
